body {
    margin: 0;
    padding: 0;
    background: #050505;
    font-family: Arial, sans-serif;
    color: white;
}


.container {
    width: 90%;
    max-width: 450px;
    margin: auto;
    padding: 20px 0;
}


/* BOX LOGO */

.logo-box {
    width: 260px;
    height: 260px;
    margin: 0 auto 30px auto;
    background: #111;
    border: 2px solid #333;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo-box img {
    width: 190px;
    height: 190px;
    object-fit: contain;
}


.brand-name {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}



/* CASELLE CATEGORIE */

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}


.category-btn {
    height: 80px;
    background: #111;
    color: white;
    border: 2px solid #333;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}


.category-btn:hover {
    background: #1a1a1a;
}/* PRODOTTI */

.product-section {
    display: none;
    margin-top: 25px;
}


.product-section h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}


/* CASELLA SINGOLO PRODOTTO */

.product {
    background: #111;
    border: 2px solid #333;
    border-radius: 18px;
    height: 60px;
    margin-bottom: 12px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 19px;
    font-weight: bold;
}


.product span {
    font-size: 18px;
}


/* ANIMAZIONE */

.product-section {
    animation: apertura 0.25s ease;
}


@keyframes apertura {

from {
    opacity: 0;
    transform: translateY(15px);
}

to {
    opacity: 1;
    transform: translateY(0);
}

}


/* MOBILE */

@media (max-width: 450px){

.container {
    width: 92%;
}


.logo-box {
    width: 230px;
    height: 230px;
}


.category-btn {
    height: 70px;
    font-size: 16px;
}

}
